body {
    /*display: flex;*/
    /*min-height: 100vh;*/
    height: 100vh;
    /*flex-direction: column;*/
  }

  main {
    /*flex: 1 0 auto;*/
    flex: 1 1 0;
  }


.anchor-text {
  line-height: 1.5;
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  text-decoration: none;
}


.canvas-div {
  display: block;
}

.canvas-style {
  outline: none;
  width: 235px;
  height: 235px; /* height: 258px; eventually, dynamically set this to be same as width*/
  background-color: white;
  margin: auto;
  touch-action: auto;
  padding: 0;
}
